/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;

*/
*{
    box-sizing:
    border-box;
    padding: 0;
    margin: 0;
}

:root{
    --heading:
    'Montserrat',
    sans-serif;
}

body{
    font-family:
    'Raleway',
    sans-serif;
    background: #fff;
}