
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(172, 75, 75, 0.678);
    box-sizing: border-box;
    width: 95%;
}

.nav-bar {
    height: 50px;
    text-align: center;
    position: fixed;
    z-index: 99;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 200px;
    width: 800px;
    margin-left: 25%;
    font-size: 20px;
    background-color: rgba(55, 96, 102, 0.555);
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar-text {
    margin-top: 10px;
}

.nav-bar ul li {
    list-style-type: none;
    display: inline;
    padding: 50px;
}

.red {
    height: 500px;
    padding-top: 70px;
}

.blue {
    height: 500px;
    padding-top: 100px;
}

.green {
    height: 500px;
}

.pink {
    height: 480px;
    margin-left: 50px;
}

.grey {
    background-color: rgb(94, 94, 94);
    height: 200px;
    width: 450px;
    position: absolute;
    margin-top: 18%;
    margin-left: 55%;
    border-radius: 0px 20px;
    border: 3px solid rgb(61, 44, 44);
    box-shadow: 2px 5px 6px 3px;
    color: #ffff;
}

a:hover {
    color: blanchedalmond;
    font-weight: bold;
}

.first-layout {
    position: relative;
    box-sizing: border-box;
}

.orange {
    background-color: rgba(231, 172, 63, 0.699);
    height: 15%;
    border: 2px solid black;
    text-align: center;
    padding-top: 15px;
    color: rgba(187, 0, 0, 0.836);
}

.text1 {
    width: 50%;
    height: 30%;
    margin-top: 15%;
    margin-left: 30%;
}

.text2 {
    height: 50%;
    width: 80%;
    margin-left: 10%;
}

.layout-button-register {
    margin-top: 100px;
    height: 250px;
    background-color: blanchedalmond;
    padding: 20px;
    width: 106%;
}

.text4 {
    height: 150px;
    text-align: center;
}

.button {
    width: 200px;
    margin-left: 40%;
    height: 50px;
}

.footer {
    background-color: black;
    height: 200px;
    width: 106%;
}

.container-login {
    height: 100vh;
}

.login-page {
    height: 80vh;
    margin-top: 10vh;
    padding: 20px 150px;
    box-shadow: 1px 2px 20px -1px;
}

.login {
    background-color: rgba(102, 186, 189, 0.836);
    height: 100%;
    text-align: center;
}

.page-login {
    height: 100%;
}

.button-login {
    border: 2px solid blanchedalmond;
    padding: 2px;
    width: 250px;
    background-color: blanchedalmond;
}

.test {
    height: 400px;
    margin-top: 180px;
    text-align: center;
    color: #ffff;
}

.search-page {
    height: 80vh;
    margin-top: 10vh;
    padding: 20px 150px;
    box-shadow: 1px 2px 20px -1px;
    background-color: rgb(34, 44, 63);
    overflow: scroll;
}

.search {
    width: 800px;
    border: 2px solid rgba(219, 211, 211, 0.788);
    border-radius: 20px;
}

/* .card-province {
    height: 100px;
} */

.text-card {
    color: #ffff;
    text-align: center;
}
