.cardPage {
    justify-content: space-around;
}
.card{
    margin: 50px;
}

#login{
    width: 400px;
}

#register{
    width: 450px;
}

.form-container {
    border: 0px solid;
    padding: 50px 60px;
    border-radius: 10px;
    margin-top: 20vh;
    margin-left: 70vh;
    -webkit-box-shadow: 1px 3px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 17px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 17px -1px rgba(0,0,0,0.75);
}

.login-regis{
    display: flex;
    flex-direction: column;
}