@tailwind base;

@tailwind components;

@tailwind utilities;

.nav-item {
  @apply py-2 px-8 bg-purple-light text-white rounded-full shadow hover:bg-purple-mid;
}

.nav-drop {
  @apply tracking-wider mb-3 px-4 py-0.5 hover:bg-purple-light-2;
}

.input {
  @apply border-2 border-purple-light
  py-3
  px-3
  rounded
  w-full
  focus:border-purple-dark outline-none;
}

.btn-primary {
  @apply py-3
  px-5
  rounded-xl
  bg-purple-light
  hover:bg-purple-dark;
}

.btn-secondary {
  @apply py-3
  px-5
  rounded-xl
  border-2
  border-purple-light-2
  bg-white
  hover:bg-gray;
}
